.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  background-image: url("../../assets/svg/background.svg"), linear-gradient(to right, #193296, #320064);
  background-repeat: no-repeat;
  background-size: cover;
}
.mainContainer .formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 40%;
  max-width: 80%;
}
@media screen and (min-width: 200px) and (max-width: 450px) {
  .mainContainer .formContainer {
    max-width: 50%;
  }
}