$aquagreen: #23e9b4;
$timeboxcolor:#9DDAC6;
$white: #fff;
$darkgrey: #263238;
$blue: #0360A4;
$orange: #FFAC4B;
$vacationcolor: #FFAC4B;
$coral: #FF5A5A;
$unknowncolor:#ff4848;
$lightgrey: #EBEBEB;
$inputBorder: rgb(141, 141, 141);
$inputText: #333;
$darkblue: #1c3f60;
$black: #1a1a1a;
$fontbold: 700;
$fontregular: 400;
$fontfourteen: 14px;
$fonteightteen: 18px;
$fonttwentytwo: 22px;
$fonttwentyfour: 24px;
$fontsizethirty: 30px;
$fontthirtysix: 36px;
$grey: #455a64;
$lightGrey: rgb(245, 237, 237);
$red: red;
$softorange: #f4a259;
$tomatored: #f25c66;
$blockwidth: 200px;
$blockheight: 10vh;
$blockwidthon840: 100px;
$blockwidthon1090: 150px;
$appealbackground: #141414;
$appealbackgroundRGBA: rgba(0,0,0,0.8);
$appealBoxShadow: rgba(0,0,0,.2);
$appealButtonsColor: #23e9b4;
$mainButtonInputColor: #23e9b4;
$appealBtnDelete: #f25c66;
$sickleavecolor: #8970e4;
$editButtonColor: #f4a259;
$appealBtnDelete: #f25c66;
$headerVioletColor: #320064;